@import "../../styles/variables.scss";

.header {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 1.5rem;
  background-color: $secondary;
  border-bottom: 1px solid $border;
  height: 4.5rem;
  position: sticky;
  top: 0;
  z-index: 2;

  @media (max-width: 768px) {
    justify-content: space-between;
  }

  .header__logo {
    display: none;

    @media (max-width: 768px) {
      display: block;
    }
  }
}

.header__links {
  display: flex;
  flex: 1;
  gap: 1rem;
}

.header__link {
  font-size: 1.3rem;
}
